@using Call.Cloud.Modelo
@{
    ViewBag.Title = "ReporteBusiness";
    Layout = "~/Views/Shared/_Theme.cshtml";
    //PARAMETROS INICIALES
    List<KeyValuePair<string, string>> lstEnterpriseBE = ViewData["lstEnterpriseBE"] as List<KeyValuePair<string, string>>;
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Módulo de Administración</a></li>
    <li class="breadcrumb-item">Administración</li>
    <li class="breadcrumb-item active">Bandeja de Pagos</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-window'></i> Reporte Audios
    </h1>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Reporte Audios
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-row">
                        <div class="col-md-4 mb-2">
                            @Html.LabelFor(m => lstEnterpriseBE, "Empresa",
                            new { @class = "form-label" })

                            @Html.DropDownListFor(m => lstEnterpriseBE,
                            new SelectList(lstEnterpriseBE, "value", "key"),
                            new { @class = "form-control", @id = "slt_empresa_buscar" })
                        </div>
                        <div class="col-4 mb-2">
                            <label for="slt_oficina_buscar">Oficina</label>
                            <select id="slt_oficina_buscar" class="form-control"><option value="0">-Seleccione-</option><option value="9">OFICINA DE VENTAS</option><option value="10">OFICINA DE TI</option></select>
                        </div>
                        <div class="col-4 mb-2">
                            <label for="slt_sub_oficina_buscar">Sub Oficina</label>
                            <select id="slt_sub_oficina_buscar" class="form-control">
                                <option value="0">-Seleccione-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-3 mb-2">
                            <label for="slt_negocio_buscar">Negocio</label>
                            <select id="slt_negocio_buscar" class="form-control">
                                <option value="0">-Seleccione-</option>
                            </select>
                        </div>
                        <div class="col-4 mb-2">
                            <label for="slt_speech_buscar">Speech</label>
                            <select id="slt_speech_buscar" class="form-control">
                                <option value="0">-Seleccione-</option>
                            </select>
                        </div>
                        <div class="col-4 mb-2">
                            <label for="slt_agent_buscar">Agente</label>
                            <select id="slt_agent_buscar" class="form-control">
                                <option value="0">-Seleccione-</option>
                            </select>
                        </div>
                        <div class="col-1 mb-1">
                            <label class="form-label">&nbsp;</label>
                            <button class="btn btn-primary form-control waves-effect waves-themed" type="button" id="btn_buscar"><i class="fal fa-search"></i></button>
                        </div>
                    </div>
                    <div class="panel-content border-faded align-items-center" style="margin-top: 25px;">
                        <div class="div-mensaje">
                        </div>
                        <div class="table-responsive-lg" id="div-cuenta-corriente">
                            <table id="dt-tabla-reporte" class="table table-bordered table-hover dt-tabla-sin-filtro table-striped w-100">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha Registrada</th>
                                        <th>Nombre del Archivo</th>
                                        <th>Duración</th>
                                        <th>Tamaño del Archivo</th>
                                        <th>Tamaño Transcrito</th>
                                        <th>Calificación Total</th>
                                        <th>Ver Detalle</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-3d-slit" id="ModalEvaluacion" aria-hidden="true"
     aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle de evaluación de audios</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 0 !important;">
                <table id="tableDetailsSeccion" class="table table-bordered table-hover dt-tabla-sin-filtro table-striped w-100">
                    <thead>
                        <tr class="bg-success">
                            <th colspan="5" style="text-align: center; font-weight: bold;"><h4 style="margin-top: 8px;">Evaluación por secciones</h4></th>
                        </tr>
                        <tr class="bg-gray-200">
                            <th class="text-center"><a class="punteroMouse">#</a></th>
                            <th class="text-center"><a class="punteroMouse">Nombre</a></th>
                            <th class="text-center"><a class="punteroMouse">Descripción</a></th>
                            <th class="text-center"><a class="punteroMouse">Peso</a></th>
                            <th class="text-center"><a class="punteroMouse">Calificación</a></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <hr />
                <table id="tableDetailsRule" class="table table-bordered table-hover dt-tabla-sin-filtro table-striped w-100">
                    <thead>
                        <tr class="bg-info-400">
                            <th colspan="5" style="text-align: center; font-weight: bold;"><h4 style="margin-top: 8px;">Evaluación por reglas</h4></th>
                        </tr>
                        <tr class="bg-gray-200">
                            <th class="text-center"><a class="punteroMouse">#</a></th>
                            <th class="text-center"><a class="punteroMouse">Nombre</a></th>
                            <th class="text-center"><a class="punteroMouse">Peso</a></th>
                            <th class="text-center"><a class="punteroMouse">Palabra</a></th>
                            <th class="text-center"><a class="punteroMouse">Calificación</a></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <hr />
                <table id="tableDetailsDiccionario" class="table table-bordered table-hover dt-tabla-sin-filtro table-striped w-100">
                    <thead>
                        <tr class="bg-secondary">
                            <th colspan="5" style="text-align: center; font-weight: bold;"><h4 style="margin-top: 8px;">Diccionario</h4></th>
                        </tr>
                        <tr class="bg-gray-200">
                            <th class="text-center"><a class="punteroMouse">#</a></th>
                            <th class="text-center"><a class="punteroMouse">Sección</a></th>
                            <th class="text-center"><a class="punteroMouse">Regla</a></th>
                            <th class="text-center"><a class="punteroMouse">Palabra</a></th>
                            <th class="text-center"><a class="punteroMouse">Peso</a></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Views/Reporte.js"></script>
}