@model Call.Cloud.Mvc.Models.AudioVM.ListasAudios
@{
    ViewBag.Title = "Grid";
    Layout = "";
}
<div class="page animsition" style="animation-duration: 800ms; opacity: 1;">
    <div class="panel-body">
        <audio style="display:none" id="player2" controls></audio>
        <div id="divGridPagina" class="table-responsive">
            <table id="dt-tabla-audio" class="table table-striped table-condensed text-center">
                <thead>
                    <tr>
                        <th><a class="punteroMouse">Cod</a></th>
                        <th><a class="punteroMouse">Name Agent</a></th>
                        <th><a class="punteroMouse">Name Business</a></th>
                        <th><a class="punteroMouse">File Size</a></th>
                        <th><a class="punteroMouse">Second</a></th>
                        <th> <a class="punteroMouse">Date</a></th>
                        <th><a class="punteroMouse">Hours</a></th>
                        <th><a class="punteroMouse">State</a></th>
                        <th><a class="punteroMouse">Details</a></th>
                        <th><a class="punteroMouse">Play</a></th>
                        <th><a class="punteroMouse">Pause</a></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/usados/Audios.js"></script>
<!-- Modal que abre el detalle -->
<script type="text/javascript">
    (function () {
        iniciar();
    })();
</script>

<!-- Botón reproducir / también pone pausa -->
<script>
    $("#player2").trigger('load');
    var ind = 0;

    function reproducirAudio(path, file) {
        //var files = path + file;
        var files = "../../assets/Archivos/Audios/success/" + path + "" + file + ".wav";
        $("#player2").attr("src", files).trigger("play");
    }

    function pausarAudio(path, file) {
        //var files = path + file;
        var files = "../../assets/Archivos/Audios/success/" + path + "" + file + ".wav";
        $("#player2").attr("src", files).trigger("pause");
    }
</script>
