<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit 
    http://go.microsoft.com/fwlink/?LinkID=237468 
    -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <connectionStrings>
    <!--<add name="CallCloud" connectionString="Data Source=ALEX-PC\SQLEXPRESS;Initial Catalog=CallCloud;uid=sa;pwd=200312171"
      providerName="System.Data.SqlClient" />-->
    <add name="CallCloud" connectionString="Data Source=191.98.147.138;Initial Catalog=ListenToMe;uid=sa;pwd=L1s73n70M3" providerName="System.Data.SqlClient" />
    <!-- <add name="CallCloud" connectionString="Data Source=192.168.10.135;Initial Catalog=CallCloud;uid=sa;pwd=v3r0n1c@"
      providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="5" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <!--<staticContent>
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
    </staticContent>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_BusinessIService" />
        <binding name="BasicHttpBinding_AgentIService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2169/BusinessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BusinessIService" contract="ServiceBusiness.BusinessIService" name="BasicHttpBinding_BusinessIService" />
      <endpoint address="http://localhost:2169/MyAgentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AgentIService" contract="ServiceAgent.AgentIService" name="BasicHttpBinding_AgentIService" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 02D821F3-DBB1-4EAF-BC17-EACE28D250E1-->